.main-sidebar {
  flex: 0 0 240px;
  max-width: 240px;
  margin-right: 16px; }

@media only screen and (max-width: 767px) {
  .main-sidebar {
    flex: 0;
    max-width: 100%; } }

@media only screen and (max-width: 767px) {
  .main-sidebar {
    margin-right: 0; } }

.main-content {
  flex: 1;
  min-width: 0; }
