body {
    margin:0;
    width:90%;
    margin-left:20px;
    margin-right:20px;
    padding:0;
    color:#000;
    background:#fff;
    font-size: 14px;
    font:13px/1.231 arial,helvetica,sans-serif;
}
header {
    background-color: #f2f2f2;
    padding-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}
footer {
    height: 50px;
}
/*
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
*/
