<!-- agents page -->
<div class="page">
    <header class="header">
        {{.Header}}
    </header>
	<main class="main is-container">
		<div class="main-sidebar">
            {{.Menu}}
        </div>
		<div class="main-content">
            <div class="is-row">
                Agents table: agent | status | team | Last Update
            </div>
        </div>
	</main>
	<footer class="footer">
        {{.Footer}}
    </footer>
</div>
