<!-- toggle element -->
<button data-kube="dropdown" data-target="#dropdown-1" class="button is-secondary" data-loaded="true">
    Filters
    <span class="caret is-down"></span>
</button>

<!-- dropdown box -->
<div id="dropdown-1" class="dropdown" style="top: 1899.34px; left: 53px;" domtargethide="is-hidden">
    <a href="#">Campaign</a>
    <a href="#">Workflow</a>
    <a href="#">Type</a>
    <a href="#">Status</a>
    <a href="#">Input dataset</a>
    <a href="#">Output dataset</a>
    <a href="#">Sites</a>
    <a href="#">Team</a>
    <a href="#">Agent</a>
</div>
