<div class="is-large">
    <div class="is-row">
        <div class="is-col is-50">
            <img src="{{.Base}}/images/cms_logo.jpg" alt="CMS" width="30" style="border:none" />
        </div>
        <div class="is-col is-50">
            <h3>CMS WMStats service:</h3>
        </div>
    </div>
</div>
