<!DOCTYPE html>
<html>
<head>
    <title>WMStats server</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="{{.Base}}/images/cms_logo.jpg" />
    <link rel="stylesheet" href="{{.Base}}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{.Base}}/css/kube.min.css"/>
    <link rel="stylesheet" href="{{.Base}}/css/main-page.css" />
    <script type="text/javascript" src="{{.Base}}/js/utils.js"></script>
</head>
<body>


		<div class="page">
			<header class="header">CMS header</header>
			<main class="main is-container">
				<div class="main-sidebar">
                    <div>
                    Requests:
                    <ul>
                        <li>
                        <button class="button is-tertiary is-small">
                            <a href="{{.Base}}?stats=campaign">Campaign</a>
                        </button>
                        </li>
                        <li>
                        <button class="button is-tertiary is-small">
                            <a href="{{.Base}}?stats=site">Site</a>
                        </button>
                        </li>
                        <li>
                        <button class="button is-tertiary is-small">
                            <a href="{{.Base}}?stats=cmssw">CMSSW</a>
                        </button>
                        </li>
                        <li>
                        <button class="button is-tertiary is-small">
                            <a href="{{.Base}}?stats=agent">Agent</a>
                        </button>
                        </li>
                    </ul>
                    </div>
                    <div>
                    <button class="button is-tertiary is-small">Alerts</button>
                    </div>
                    <div>
                    <button class="button is-tertiary is-small">Agents</button>
                    </div>
                    <div>
                    <button class="button is-tertiary is-small">ErrorLogs</button>
                    </div>
                </div>
				<div class="main-content">
                    {{.Table}}
                </div>
			</main>
			<footer class="footer">CMS footer</footer>
		</div>

</body>
</html>
