<!-- main tmpl -->
<div class="page">
    <header class="header">
        {{.Header}}
    </header>
	<main class="main is-container">
		<div class="main-sidebar">
            {{.Menu}}
        </div>
		<div class="main-content">
            <div class="is-row">
                <!--
                <div class="is-col is-80">
                {{.Search}}
                </div>
                -->
                <div class="is-col is-90">
                {{.Filter}}
                </div>
            </div>
            {{.Title}}
            <div class="is-row">
                <div class="is-col is-90">
                    {{.Table}}
                </div>
            </div>
        </div>
	</main>
	<footer class="footer">
        {{.Footer}}
    </footer>
</div>
