<div>
Requests:
<ul>
    <li>
    <button class="button is-tertiary is-small">
        <a href="{{.Base}}?stats=campaign">Campaign</a>
    </button>
    </li>
    <li>
    <button class="button is-tertiary is-small">
        <a href="{{.Base}}?stats=site">Site</a>
    </button>
    </li>
    <li>
    <button class="button is-tertiary is-small">
        <a href="{{.Base}}?stats=cmssw">CMSSW</a>
    </button>
    </li>
    <li>
    <button class="button is-tertiary is-small">
        <a href="{{.Base}}?stats=agent">Agent</a>
    </button>
    </li>
</ul>
</div>
<div>
    <a href="{{.Base}}/alerts" class="button is-tertiary is-small">Alerts</a>
</div>
<div>
    <a href="{{.Base}}/agents" class="button is-tertiary is-small">Agents</a>
</div>
<div>
    <a href="{{.Base}}/errorlogs" class="button is-tertiary is-small">ErrorLogs</a>
</div>
