<form method="post" action="">
    <div class="form-item">
        <div class="is-append is-90">
            <input type="text" name="search" placeholder="Search">
            <button class="button">Search</button>
        </div>
    </div>
</form>
